@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body { overflow-x: hidden; }

/*----------------------------------------------Fonts*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Alegreya', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
}

/*----------------------------------------------Header*/

#title {
    color: #36454f;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 0.9;
}

.navbar-brand {
    font-size: 170%;
}

.navbar-nav .nav-item .nav-link {
    color: #36454f;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #2E5476;
}

#navbarNav > ul > li.nav-item.active {
    text-align: right;
}

#navbarNav > ul > li:nth-child(2) {
    text-align: right;
}

#navbarNav > ul > li:nth-child(3) {
    text-align: right;
}

/*----------------------------------------------Hero image and quotes*/
.quote-bg-img {
    background: url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    height: 92vh;
    width: 100%;
    margin-top: 66px;
    margin-bottom: 20px;
}

.hero-quote {
    font-size: 350%;
    font-weight: 500;
    padding: 20px;
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    position: relative;
    color: #36454f;
}

.hero-person {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    margin-bottom: 50px;
    padding-right: 80px;
    position: relative;
    color: #36454f;
    }

/*----------------------------------------------Dropdown menus*/
.dropdown-heading {
    text-align: center;
    font-family: 'Alegreya', sans-serif;
    color: #36454f;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 5px;
}

.dropdown-menus {
    position: relative;
    margin: auto;
    width: 60%;
}

.dropdown-1, .dropdown-2, .dropdown-3 {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

/*----------------------------------------------Map*/
#map {
    min-height: 600px;
    margin-top: 20px;
}

/*----------------------------------------------Form*/
.newsletter-form {
    display: block;
    text-align: center;
    min-width: 100%;
}

.form {
    background-color: #36454f;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: auto;
}

.form-header {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 200%;
    color: #F5F5F5;
}

.form, label {
    color: #F5F5F5;
}

.btn {
    margin-top: 20px;
    background-color: #2E5476;
    border-color: #F5F5F5;
    margin: 0 auto;
    text-align: center;
}

#form-button {
    margin: 0 auto;
    display: block;
    text-align: center;
} 

.btn:hover {
    background-color: #192E40;
    border-color: #2E5476;
}

.modal {
    color: #36454f;
}

.modal-header {
    border-bottom: 0;
}

.modal-content {
    font-size: larger;
}

.modal-footer {
    border-top: 0;
}

#modal-close-button:hover {
    background-color: #192E40;
    border-color: #2E5476;
}

/*----------------------------------------------Footer*/

.container-fluid {
    padding: 0;
    margin: 0;
}

.social-links {
    text-align: center;
    margin-top: 10px;
} 

.list-inline {
    margin: 0;
}

.list-inline-item {
    font-size: 200%;
    padding-left: 10px;
    padding-right: 10px;
}

.list-inline-item, a {
    color: #36454F;
}

.list-inline-item, a:hover {
    color: #192E40;
    transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.copyright {
    text-align: center;
    font-size: smaller;
    margin-top: 5px;
    color: #36454f;
}

/*----------------------------------------------Media Queries*/

@media screen and (max-width:500px) {

    .navbar {
        max-width: 100%;
    }

    .hero-quote {
        font-size: 220%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-person {
        font-size: 110%;
        padding-right: 40px;
    }

    .dropdown-heading {
        font-size: 150%;
        margin-right: 30px;
        margin-left: 30px;
    }

    .dropdown-menus {
        margin-left: 10px;
        margin-right: 20px;
    }

    .dropdown-1, .dropdown-2, .dropdown-3 {
        margin-bottom: 10px;
    }

    .location-select {
        width: 200px;
    }

    .landmarks, .museums, .parks {
        text-align: center;
    }

    #map {
        max-width: 100%;
        min-height: 430px;
    }

    .form {
        max-width: 100%;
    }

    .form-header {
        text-align: center;
        margin-left: 0;
        padding-left: 0;
    }

    .modal-content {
        max-height: 260px;
    }

    .modal-footer {
        padding-top: 0;
    }

    .modal-footer button {
        margin-top: 0;
    }
}

@media screen and (max-width:800px) {

    .quote-bg-img{
        height: 95vh;
    }

    .hero-quote {
        padding-top: 20px;
    }

    .dropdown-heading {
        margin-right: 30px;
        margin-left: 30px;
    }

    .dropdown-menus {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .location-select {
        width: 220px;
    }

    .form-header {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}